<head>
    <title><%= title%></title>
    <meta charset="utf-8"> <!--//Codificación de html-->
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/> <!--//Compatibilidad con Edge-->
    <meta name="viewport" content="with=device-width, initial-scale=1"/> <!--//Escala del disposistivo movil-->
    <link rel="stylesheet" href=".//css/hotspots.css">

    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>

</head>